@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

#principal {
    width: 765px;
    margin: 0 auto; /* Centralizando, mesma coisa que margin-left=auto e margin-right=auto */
}

header {
    height: 122px; /* Está herdando o width da div id principal */
    width: 100%;
    background-image: url(../img/fundo-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 260px;
    height: 95px;
    padding-top: 20px;
    padding-left: 15px;
}

nav {
    width: 445px;
    height: 35px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

ul li {
    font-weight: bold;
    background-color: #952030;
    padding: 5px 12px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

ul li a {
    text-decoration: none;
    color: cornsilk;
}

ul li:hover {
    background-color: #dd8d9b;
    transition: all 0.5s;
}

ul li a:hover {
    text-decoration: underline;
    text-decoration: none;
}

#corpo {
    width: 765px;
    height: 425px;
    margin-top: 5px;
    /* background-color: #952030; */
    display: flex;
    justify-content: flex-start;
}

#azul {
    width: 500px;
    height: 425px;
    background-color: #c8d4ec;
}

article {
    width: 500px;
    height: 150px;
    display: flex;
}

article img {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

#textos {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

#textos h1 {
    color: #952030;
    width: 200px;
    margin-top: 8px;
    padding: 5px;
    font-size: 15px;
}

#textos h2 {
    font-size: 10px;
    padding: 5px;
    letter-spacing: 1px;
    margin-top: -8px;
    color: rgb(99, 99, 99);
}

#destaques {
    width: 470px;
    height: 245px;
    margin: 15px auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.destaque-item {
    width: 150px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destaque-item img {
    width: 110px;
    padding-top: 50px;
}

.destaque-item h1 {
    color: #952030;
    margin-top: 0;
}

.destaque-item p {
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
    color: gray;
}

aside {
    width: 265px;
    height: 425px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #952030;
    color: white;
}

.text-lateral {
    margin-top: 20px;
    padding: 10px;
    color: rgb(224, 224, 224);
}

footer {
    background-color: rgb(32, 51, 80);
    color: white;
    text-align: center;
    font-weight: bold;
    height: 55px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
