body {
    background-image: url('../Images/close-up-de-hamburguer-com-fundo-pedra_23-2148273030.jpg');
    background-repeat: repeat; /* caso queira que o fundo não se repita, utilizei o background no repeat */
    background-size: 100vw 100vh; /* esse é o tamanho de altura e largura para o fundo pegar a ágina inteira */
}

.topo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    width: 150px;
}

.lanche {
    display: flex; /* acresecntei o display flex, porque sem o display flex não é possível utilizar o justify-content*/
    justify-content: center; /* justify content só irá funcionar, caso a tag pai esteja com display flex */
    flex-direction: column; /* adicionei o lex direction column para ficar item embaixo de item, em ormato de coluna */
    align-items: center; /* utilizei o align items para alinhar ao centro */
    /* margin: 22rem 1rem; só testei as margens e cheguei nesses resultados para alinhar extamente ao centro */
    min-height: 100vh; /* Melhor maneira de centralizar no meio da página */
}

.hlanche {
    background-color: transparent;
    color: white;
}
