.topo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.logo {
    width: 150px;
}

.lanche {
    display: flex; /* acresecntei o display flex, porque sem o display flex não é possível utilizar o justify-content*/
    justify-content: center; /* justify content só irá funcionar, caso a tag pai esteja com display flex */
    flex-direction: column; /* adicionei o lex direction column para ficar item embaixo de item, em ormato de coluna */
    align-items: center; /* utilizei o align items para alinhar ao centro */
    margin: 22rem 1rem; /* só testei as margens e cheguei nesses resultados para alinhar extamente ao centro */
}

.hlanche {
    background-color: transparent;
    color: white;
}
