.container {
    background-color: #ff5722;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: #0000ff;
    color: #fff;
    padding: 10px;
}

.item1 {
    height: 100px;
    width: 100px;
}

.item2 {
    height: 50px;
    width: 150px;
}

.item3 {
    height: 100px;
    width: 200px;
}
