/* estrelinha(*) - seletor universal */
/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* border: none; */
    /* text-decoration: none; */
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: red;
}

/* CONATINER GERAL */
.container {
    margin: 0 1rem;
    background: white;
}

/* HEADER */
.container-header {
    display: flex;
    justify-content: space-evenly; /* EIXO X */
    align-items: center; /* EIXO Y */
    flex-wrap: wrap;

    background: white;

    margin: 0 auto;
}

.menu {
    display: flex;
}

.menu li + li {
    margin-left: 2rem; /* respiro externo */
}

.menu li a {
    padding: 1rem; /* respiro interno */

    background: red; /* cor do fundo */
    color: white; /* cor dos textos */

    font-weight: 700; /* negrito */
}

/* Banner */
.banner img {
    width: 100%;
}

/* Section */
.container-title-img {
    display: flex;
    margin: 2rem auto;
}

.title {
    width: 50%; /* largura ou comprimeto */
}

.title-h1 {
    margin: 0 2rem;
}

.title-h1 h1 {
    font-size: 1.3rem; /* tamanho da fonte */
    margin-bottom: 0.5rem;
    color: red;
}

.title-h1 a {
    text-decoration-color: red; /* muda a cor da linha embaixo da taga a */
}

.img {
    margin: 2rem;
}

/* ARTICLE */
.container-article {
    display: flex;
    margin: 0 4rem;
}

.card-item {
    display: flex;
    text-align: center;
    align-items: center;

    margin: 0.5rem;
    padding: 0.5rem;
}

.card-item img {
    margin: 1rem;
}

.card-item:nth-child(1) {
    background: rgb(92, 194, 207);
}

.card-item:nth-child(2) {
    background: rgb(207, 199, 92);
}

.card-item:nth-child(3) {
    background: rgb(207, 92, 107);
    text-align: left;
}

.article-title h3 {
    margin-bottom: 0.5rem;
}

button {
    border: none;
    padding: 0.5rem;
    width: 7rem; /* largura */
    height: auto; /* altura */
    margin-top: 0.8rem;
    margin-left: 5rem;
    cursor: pointer;
    background: rgb(68, 97, 26);
    color: white;
}

/* FOOTER */
.container-footer {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 2rem;
}

.container-footer p {
    margin: 0 auto; /* alinhar ao centro do da página */
    color: white;
    font-weight: 700;
}

@media (max-width: 768px) {
    /* HEADER */
    .menu {
        width: 100%;
        margin: 2rem;
    }

    /* SECTION */
    .container-title-img {
        flex-wrap: wrap;
        padding: 2rem;
    }

    .title {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3rem;
    }

    .title-h1-img {
        background: brown;
        border-radius: 0.8rem;
        padding: 1rem;
    }

    .img {
        margin: 2rem 7rem;
    }

    /* ARTICLE */
    .container-article {
        flex-wrap: wrap;
    }

    .card-item:nth-child(3) {
        margin: 2rem -3rem;
    }
}
