* {
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* VARIABLES */
:root {
    --black: #000000;
    --white: #fff;
    --white-gray: #9e9999;
    --brown: #1a1313;
    --yellow: #fad73c;
}

/* HTML */
html {
    font-family: Arial, Helvetica, sans-serif;
}

/* BODY */
body {
    background-color: var(--brown);
}

/* HEADER - NAV */
.container-header {
    width: 100%;

    padding: 3rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    align-items: center;

    background-color: var(--black);
}

.container-ul {
    display: flex;
    align-items: center;

    width: 10rem;

    margin: 1rem 5.9rem;
}

/* NAV FORA DO HEADER */
.container-nav {
    margin: 1.6rem 0;
    margin-left: -6rem;

    width: 10vw;
}

.container-nav a {
    padding: 1rem;
    margin: 0.2rem;

    background-color: var(--yellow);

    color: var(--white);
}

.container-nav li {
    transition: all 0.2s linear;
}

.container-nav li:hover {
    filter: brightness(0.5);
    letter-spacing: 0.2rem;
}

/* SECTION - CARD */
.container-section {
    width: 100%;

    margin: 2rem 0;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-item {
    text-align: center;

    width: 20rem;
    height: auto;

    padding: 5rem 0;
    margin: 0 auto;
}

.card-item h2 {
    color: var(--yellow);

    margin: 0.5rem;

    text-transform: uppercase;
    font-size: 1.2rem;
}

.card-item p {
    color: var(--white-gray);
}

.card-item button {
    margin: 1rem;
    padding: 1rem;

    border: none;

    border-radius: 0.8rem;
    cursor: pointer;

    background-color: var(--yellow);

    transition: all 0.2s linear;
}

.card-item button:hover {
    filter: brightness(1.5);
    letter-spacing: 0.1rem;
}

/* ARTICLE - ASIDE */
.container-article-aside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* ARTICLE */
article {
    background-color: var(--white);
    border-radius: 0.8rem;

    width: 40rem;
    height: 20rem;

    margin: 1rem;
}

article h2 {
    color: var(--yellow);

    padding: 2rem 0 0 1rem;

    text-transform: uppercase;
}

article img {
    margin: 1rem;
}

.card-item-article {
    display: flex;
    align-items: center;

    margin: 2rem 0;
}
/* ASIDE */
aside {
    display: flex;
    flex-direction: column;

    padding: 4rem 0;
}

.card-item-aside {
    display: flex;
    align-items: center;

    margin: 1rem;
}

.card-item-aside p {
    margin-left: 2rem;

    color: var(--white);
}

/* FOOTER */
footer {
    background-image: url(/img/fundo-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10vh;
}

footer img {
    width: 100%;
}

footer p {
    color: var(--white);
    text-align: center;

    padding: 2rem;
}

/* MEDIA */
@media (min-width: 740px) {
    .container-header {
        justify-content: space-between;
    }
}
/* TODO terminei de codar esse template */
