/* Global properties ======================================================== */
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.ic {
    border: 0;
    float: left;
    background: #fff;
    color: #f00;
    width: 50%;
    line-height: 10px;
    font-size: 10px;
    margin: -220% 0 0 0;
    overflow: hidden;
    padding: 0;
}
body {
    font: 12px/22px Arial, Helvetica, sans-serif;
    color: #8f8b8c;
    min-width: 970px;
    background: url(../images/bg.jpg) center 0 repeat;
}
.main {
    width: 960px;
    margin: 0 auto;
}
/***********************************************************************/

a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}
a.button {
    background: url(../images/button.png) 0 0 repeat-x;
    border-bottom: #3f3b3b 1px solid;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 30px 12px 30px;
    display: inline-block;
    border-radius: 6px;
}
a.button:hover {
    background: #000;
}
a.button-1 {
    background: url(../images/button-1.jpg) 0 0 repeat-x;
    border-bottom: #fff 1px solid;
    border-left: #cfd0d2 1px solid;
    border-right: #cfd0d2 1px solid;
    color: #8f8b8c;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 29px 12px 29px;
    display: inline-block;
    border-radius: 7px;
}
a.button-1:hover {
    background: #8b8c8d;
    color: #fff;
}
a.button-2 {
    background: #e88800;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    padding: 7px 19px 7px 19px;
    display: inline-block;
}
a.button-2:hover {
    background: #000;
    color: #fff;
}
a.link {
    text-decoration: none;
    cursor: pointer;
    color: #e88800;
}
a.link:hover {
    text-decoration: underline;
}
a.link-2 {
    background: url(../images/link-2.png) 0 no-repeat;
    padding-left: 16px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: #e88800;
}
a.link-2:hover {
    text-decoration: underline;
}
.color-1 {
    font-size: 18px;
    line-height: 24px;
    color: #e37700;
}
.color-2 {
    color: #1f1919;
}
.color-3 {
    color: #e88800;
}
h2 {
    font-size: 35px;
    line-height: 45px;
    color: #1f1919;
    font-weight: normal;
    letter-spacing: -2px;
}
ul {
    margin: 0;
    padding: 0;
    list-style-image: none;
}
ul.list-1 li {
    padding: 0px 0 8px 14px;
    line-height: 22px;
    background: url(../images/list-1.gif) 0 9px no-repeat;
}
ul.list-1 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8f8b8c;
    line-height: 22px;
}
ul.list-1 li a:hover {
    color: #e88800;
}
ul.list-2 li {
    padding: 0px 0 8px 14px;
    line-height: 22px;
    background: url(../images/list-1.gif) 0 9px no-repeat;
}
ul.list-2 li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #e88800;
    line-height: 22px;
}
ul.list-2 li a:hover {
    text-decoration: underline;
}
/******************************************************************/
.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
    width: 100%;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wrap {
    overflow: hidden;
    position: relative;
}
.extra-wrap {
    overflow: hidden;
}
.fleft {
    float: left;
}
.fright {
    float: right;
}
.img-indent {
    float: left;
    margin: 0 40px 0px 0;
}
.last {
    margin-right: 0px !important;
}
.top-1 {
    margin-top: 24px;
}
.top-2 {
    margin-top: 18px;
}
.top-3 {
    margin-top: 16px;
}
.top-4 {
    margin-top: 60px;
}
.top-5 {
    margin-top: 37px;
}
.top-6 {
    margin-top: 17px;
}
.top-7 {
    margin-top: 4px;
}
.bot-0 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}
.p1 {
    padding-bottom: 22px;
}
.p2 {
    padding-bottom: 13px;
}
.p3 {
    padding-bottom: 15px;
}
.p4 {
    padding-bottom: 11px;
}
.p5 {
    padding-bottom: 20px;
}
/*********************************header*************************************/
header {
    width: 100%;
    background: url(../images/header.jpg) 0 0 repeat;
    margin: 0 auto;
    z-index: 101;
    position: relative;
    z-index: 100;
}
h1 {
    float: left;
    margin: 46px 0 0 42px;
}
.slogan {
    float: left;
    border-left: #2f2b2b 1px solid;
    margin: 34px 0 0 28px;
    padding: 18px 0 15px 29px;
}
.tooltips {
    float: right;
    margin: 54px 50px 0 0;
}
.tooltips a {
    display: inline-block;
    float: left;
    margin-left: 6px;
}
.tooltips a:hover img {
    opacity: 0.7;
}
.nav-shadow {
    background: url(../images/nav-shadow.png) 0 0 no-repeat;
    padding-top: 10px;
    margin: 24px 0px 0px 0px;
    position: relative;
    z-index: 100;
}
.nav-shadow > div {
    background: #e57c00;
    border-radius: 7px;
    padding-bottom: 4px;
    box-shadow: 0 3px 2px #201a1a;
}
nav {
    background: url(../images/nav.jpg) 0 0 repeat-x;
    border-radius: 7px;
    min-height: 70px;
}
ul.menu {
    overflow: hidden;
}
ul.menu li {
    float: left;
    line-height: 24px;
    background: url(../images/menu-li.jpg) 0 0 no-repeat;
    margin: 10px 0 11px 0;
    padding: 13px 47px 12px 47px;
}
ul.menu li:first-child {
    background: transparent;
}
ul.menu li a {
    font-size: 18px;
    line-height: 24px;
    color: #0f0c0c;
    display: inline-block;
}
ul.menu li a:hover,
ul.menu li.current a {
    color: #844c01;
}
/*********************************content*************************************/
#content {
    background: #edeef0;
    width: 100%;
    padding: 30px 0 50px 0;
}
.content-subpages {
    padding-top: 25px !important;
}
.header-content {
    width: 100%;
    background: url(../images/header-content.jpg) center bottom repeat;
    margin: 0 auto;
    position: relative;
    z-index: 99;
    margin-top: -25px;
    padding-bottom: 36px;
}
.header-subpages {
    padding-bottom: 65px !important;
}
.img-radius {
    border-radius: 7px;
}
.border-1 {
    background: url(../images/border-1.jpg) right 0 repeat-y;
}
.border-2 {
    background: url(../images/border-2.gif) right 0 repeat-y;
}
.block-1 {
    padding-top: 70px;
    width: 320px;
    float: left;
    text-align: center;
}
.block-1 > div {
    padding: 10px 30px 15px 30px;
    margin-top: 14px;
}
#content > div {
    width: 880px;
    margin: 0 auto;
}
.col-1 {
    width: 570px;
    float: left;
    padding-right: 30px;
}
.col-2 {
    width: 240px;
    float: left;
    padding-left: 40px;
}
.col-3 {
    width: 410px;
    float: left;
    padding-right: 30px;
}
.col-4 {
    width: 400px;
    float: left;
    padding-left: 40px;
}
.col-1 ul {
    width: 240px;
}
.col-1 ul:first-child {
    margin-right: 41px;
}
.block-2 p.color-2 {
    margin: 7px 0 11px 0;
}
.block-3 > div.wrap {
    float: left;
    width: 260px;
    margin-right: 40px;
}
blockquote {
    color: #e88800;
    padding-left: 15px;
    display: inline-block;
}
/****************************footer************************/
footer {
    width: 880px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 43px 0 40px 0;
}
/**********************form**********************/
.map {
    width: 240px;
    height: 151px;
    margin: 25px 0 0 0;
}
.map iframe {
    width: 240px;
    height: 151px;
    border-radius: 7px;
}
dl {
    margin: 22px 0px 0 0px;
    float: left;
}

dl dd span {
    display: block;
    width: 67px;
    float: left;
}

#form {
    margin: 11px 0 0px 0px;
    width: 560px;
}
#form input {
    border-bottom: #fff 1px solid;
    border-top: #8b8c8d 1px solid;
    border-left: #cfd0d2 1px solid;
    border-right: #cfd0d2 1px solid;
    background: url(../images/form-bg.jpg) 0 0 repeat-x #e1e2e4;
    border-radius: 7px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #8f8b8c;
    padding: 5px 10px 6px 10px;
    outline: medium none;
    width: 260px;
    height: 15px;
    float: left;
}
#form textarea {
    border-bottom: #fff 1px solid;
    border-top: #8b8c8d 1px solid;
    border-left: #cfd0d2 1px solid;
    border-right: #cfd0d2 1px solid;
    background: url(../images/form-bg.jpg) 0 0 repeat-x #e1e2e4;
    border-radius: 7px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #8f8b8c;
    height: 268px;
    outline: medium none;
    overflow: auto;
    padding: 5px 0px 0px 10px;
    width: 480px;
    resize: none;
    margin: 0px 0 0 0;
    float: left;
}
#form label {
    position: relative;
    overflow: hidden;
    display: block;
    min-height: 33px;
}
#form label strong {
    font-weight: normal;
    float: inline-end;
    display: inline-block;
    width: 68px;
    padding-top: 2px;
}
.btns {
    text-align: right;
    width: 560px;
    padding-top: 13px;
}
.btns a {
    display: inline-block;
    margin: 0 20px 0 10px;
}
