:root {
    --white-gray: #eaeaea;
    --black: #000;
    --gray: #808080;
    --red: #f01818;
}

/* HEADER */
.header {
    background-color: var(--white-gray);
    /* alinhar ao centro */
    align-items: center;
    justify-content: center;
}

.logo {
    width: 9.375rem;
}

/* NAVIGATION */
.nav-item > a {
    color: var(--black);
    transition: all 0.2s linear;
}

.nav-item > a:hover {
    color: var(--gray);
    letter-spacing: 0.1rem;
}

/* CARROUSEL */
.carrousel .slide {
    padding: 0.5rem 0;
    background-color: var(--black);
}

/* CARDS */
.card {
    margin: 1rem auto;
}

.destaques {
    background-color: var(--black);
}

/* FORM */
.btn.btn-primary {
    margin-left: 2.5rem;
    padding: 0.4rem 4rem;
}

.btn-form {
    margin: 0 7rem !important;
    padding: 0.4rem 6rem !important;
}

label.disable {
    color: var(--red) !important;
}

.form-img {
    background-color: var(--gray);
    align-items: center;
}

/* FOOTER */
.footer {
    background-color: var(--white-gray);
    text-align: center;

    padding: 2rem;
}

@media (min-width: 768px) {
    .form {
        margin: 5rem;
    }

    .btn-form {
        margin: 4rem !important;
        margin-left: 20rem !important;
        padding: 0.4rem 8rem !important;
    }
}
