.container-header {
    background: rgb(236, 236, 236);
    align-items: center;
    justify-content: center;
}

.logo {
    width: 9.375rem;
    margin: 0 10rem;
}

.nav-item > a {
    color: black;
    font-weight: 700;
}

/* CARROUSEL */
.container-carrousel .slide {
    padding: 0.5rem 0;
    background: black;
    width: 100%; /* largura */
}

/* ARTICLE */
.card {
    margin: 1rem auto;
}

.destaques {
    background: black;
}

/* FORM - IMG */
.form-img {
    background: gray;
    align-items: center;
}

form {
    background: white;

    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

/* FOOTER */
.footer {
    background: rgb(221, 221, 221);
    text-align: center;

    padding: 2rem;
}

/* o display flex não so alinha itens lado a lado, mas também ativa outras funcionalidade no css, a exemplo do  align-items: center;
justify-content: center;
flex-direction: column;
flex-wrap: wrap; */
