body {
	background-color: royalblue;
}
#principal {
	background-color: skyblue;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header {
	background-color: darkred;
	width: 746px;
	height: 107px;
}
h1{
	color: white;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}
nav {
	background-color: teal;
	width: 746px;
	height: 36px;
}
section {
	background-color: dimgrey;
	width: 470px;
	height: 420px;
}
#sectionaside{
	background-color: black;
	width: 746px;
	height: 500px;
	display: flex;
	flex-direction: row;
}
aside {
	background-color: rgb(148, 148, 93);
	width: 246px;
	height: 500px;
    position:relative;
    right: 20px;
    left: 30px;
}
article {
	background-color: thistle;
	width: 470px;
	height: 118px;
}
footer {
	background-color: rgb(118, 141, 185);
	width: 746px;
	height: 60px;
	text-align: center;
}
