/* seletor universal = * */
/* resetando o css */
* {
    margin: 0;
    padding: 0;

    text-decoration: none;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-transform: capitalize;
}

h1 {
    text-align: center;
    margin-top: 100px;
}

img {
    max-width: 100%;
    display: block;
}

.container-header {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* PIXEL É UMA MEDIDA ESTÁTICA */
    /* REM = DIVIDIR POR 16 */
}

.logo {
    font-size: 25px;
}

.nav-menu {
    display: flex;
}

.nav-menu li {
    margin-left: 15px;
}
.nav-menu li a {
    display: block;
    padding: 15px;
}

/* FLEXBOX */
.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
    margin: 0 auto;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

/* utilizamos o display: flex na tag pai de todo mundo */
/* text-transform: lowercase = tudo minusculo;
text-transform: uppercase = tudo maiusculo;
text-transform: capitalize; = a primeira letra de cada palavra maiuscula */
/* <!-- Padrão do HTML é colocar item abaixo de item, o flexbox serve para colocar os itens lado a lado --> */
