body {
    background-color: red;
}

h1 {
    color: white;
    font-size: 12px;
}

/* tablet */
@media (min-width: 768px) {
    body {
        background-color: green;
    }
    h1 {
        color: orange;
    }
}

/*desktop*/
@media (min-width: 960px) {
    body {
        background-color: pink;
    }
    h1 {
        color: purple;
    }
}
/*widescreen*/
@media (min-widht: 1200px) {
    body {
        background-color: black;
    }
    h1 {
        color: grey;
        font-size: 20px;
    }
}
