* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
/* .container-header {
    display: flex;
} */

.logo-texto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-texto p {
    width: 20rem;

    margin-left: -12rem;

    color: #993b0f;

    font-weight: 900;
}

.logo-texto img {
    margin-left: -4rem;
    margin-top: 2rem;
}

.container-ul {
    display: flex;
    justify-content: flex-end;
}

.container-ul a {
    padding: 1rem;

    color: #e7dc3d;

    font-weight: 900;
}

.container-header {
    width: 100%;
    height: auto;
    background-color: #081607;
}

body {
    height: 100vh;

    background-color: #f56e39;
}

.container-carrousel {
    width: 100%;
    padding: 1rem;
}

.container-carrousel img {
    width: 100%;
    background-size: contain;
}

/* ARTICLE */
.container-article {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.card-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.container-footer {
    margin: 1rem;
}

footer {
    width: 119.95rem;

    background-color: yellow;

    margin-left: -2rem;
    margin-right: -2rem;
}

.container-ul-footer {
    display: flex;

    padding: 1rem;
}

.container-ul-footer li {
    color: black;
    font-weight: 900;
    margin: 0.7rem;
}

/* MEDIA */
@media (max-width: 750px) {
    .container-ul a {
        font-size: 0.9rem;
    }

    .container-article {
        flex-wrap: wrap;
    }

    footer {
        max-width: 100vw;
        margin-left: 2rem 0;
    }

    .container-ul-footer {
        justify-content: center;
    }
}
