/* ========== Estilos gerais ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

/* Generics */
img {
    max-width: 100%;
    height: auto;
}

/* Header */
.l-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #313131;
    padding: 2rem;
}

/* Menu */
.l-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.l-menu>li>a {
    color: aliceblue;
}


@media (max-width: 500px) {
    .l-header {
        flex-direction: column;
    }
}



.container-fluid {
    /* background: rgb(111, 111, 111); */
    text-align: center;
    padding: 2rem;
}

.container-fluid:nth-child(2) {
    background: rgb(112, 59, 59);
}

.container-fluid:nth-child(2) .row>div {
    height: 5rem;
}

.container-fluid:nth-child(2) .row>div:nth-child(1) {
    background: red;
}

.container-fluid:nth-child(2) .row>div:nth-child(2) {
    background: rgb(167, 128, 128);
}

.container-fluid:nth-child(2) .row>div:nth-child(3) {
    background: rgb(201, 161, 161);
}

.container-fluid:nth-child(2) .row>div:nth-child(4) {
    background: rgb(47, 35, 213);
}

.container-fluid:nth-child(2) .row>div:nth-child(5) {
    background: rgb(0, 174, 255);
}

.container-fluid:nth-child(2) .row>div:nth-child(6) {
    background: rgb(22, 134, 27);
}

.container-fluid:nth-child(2) .row>div:nth-child(7) {
    background: rgb(0, 255, 42);
}

.container-fluid:nth-child(2) .row>div:nth-child(8) {
    background: rgb(255, 255, 255);
}

.container-fluid:nth-child(2) .row>div:nth-child(9) {
    background: rgb(206, 3, 104);
}

.container-fluid:nth-child(2) .row>div:nth-child(10) {
    background: rgb(209, 98, 153);
}

.container-fluid:nth-child(2) .row>div:nth-child(11) {
    background: rgb(223, 200, 0);
}

.container-fluid:nth-child(2) .row>div:nth-child(12) {
    background: rgb(246, 0, 213);
}

.l-main-item {
    text-align: center;
    align-items: center;
}

p,
span,
li {
    font-size: 2rem;
    margin-top: 2rem;
}

span {
    font-weight: 100;
}