* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
        'header header'
        'main aside'
        'footer footer';
}

header {
    background-color: rgba(255, 255, 0, 0.329);
    grid-area: header;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    padding: 5rem;

    font-size: 2rem;
}

.menu {
    display: flex;

    padding: 5rem;
}

.menu li a {
    padding: 1rem;
    margin: 1rem;

    background-color: wheat;
    border-radius: 0.8rem;
    transition: all 0.2s linear;
}

.menu li a:hover {
    filter: brightness(1.5);
    letter-spacing: 0.1rem;
}

main {
    background-color: rgba(255, 0, 0, 0.603);
    grid-area: main;
}

aside {
    background-color: rgba(0, 0, 255, 0.644);
    grid-area: aside;
}

footer {
    background-color: rgba(0, 128, 0, 0.568);
    grid-area: footer;
}
