body {
	background-color: royalblue;
}

/* id */
#principal {
	background-color: skyblue;
}

/* class */
.paragrafo {
  color:blue;
}

header {
	font-family: sans-serif;
	font-size: x-large;
	background-color: deepskyblue;
}

nav {
	font-style: italic;
	font-size: small;
  background-color: brown;
}

section {
  background-color: blueviolet;
}

h1 {
  color: white;
  font-size: 16px; 
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: cornflowerblue;
}

.container{
  width: auto;

}

.square {
  width: 300px;
  height: 300px;
  background-image: url(#jb);
  border: solid 2px;
  text-shadow: white 0px 0px 2px;
  font-size: 16px;
  background-size: 150px;
}