.l-main {
  width: 80vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 80vw;
}

.l-main__card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* gap: 4rem; */
  align-items: center;
}

.l-main__card-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.l-main__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bi-person {
  font-size: 4rem;
}

.bi-file-earmark-zip-fill {
  font-size: 3rem;
}

.bi-circle-fill {
  position: relative;
  bottom: 4rem;
  left: 3rem;
}

/* .l-main__slide > i:nth-child(2) {
  color: red;
} */

.card:nth-child(1) > .l-main__slide > .bi-circle-fill:nth-child(2) {
  color: red;
}

.card:nth-child(2) > .l-main__slide > .bi-circle-fill:nth-child(2) {
  color: green;
}
.card:nth-child(3) > .l-main__slide > .bi-circle-fill:nth-child(2) {
  color: rgb(255, 174, 0);
}

.l-footer__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-footer__button > button {
  width: 10rem;
}

/* .form-group {
  width: 50rem;
} */

textarea {
  width: 100%;
  height: 100%;
  border: 2px solid #ccc;
  margin: 1rem 0;
  resize: vertical;
  /* margin: 0 auto; */
}

@media screen and (max-width: 320px) {
  .l-main__card {
    flex-direction: column;
    gap: 0;
  }

  /* .form-group {
    width: 80vw;
  } */

  .l-footer__button {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .l-footer__button > button {
    width: 100%;
  }
}

@media screen and (max-width: 976px) {
  .l-main__card {
    flex-direction: column;
    gap: 0;
  }

  /* .form-group {
    width: 80vw;
  } */

  /* .l-main__card-item {
    display: contents;
  } */
}

/* .swiper,
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
} */

/* ==================== Swiper ==================== */
/* .swiper,
.swiper-wrapper {
  position: relative;
  max-width: 100%;
} */

.swiper,
.swiper-wrapper {
  position: relative;
  width: 80vw;
  height: auto;
}

.swiper-slide {
  height: auto;
  min-width: 2rem;
  text-align: center;
  padding: 1rem;
  position: relative;
  display: flex;
}

.swiper-pagination-bullet {
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  top: 1rem;
  background: red !important;
  color: red !important;
}

.swiper-pagination {
  width: 3rem;
  height: 3rem;
  position: relative;
  top: 1rem;
}

.swiper-scrollbar{
  position: relative;
  top: 23.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background: #007aff !important;
  color: #007aff !important;
}

.swiper-pagination-bullet-active {
  background: #007aff !important;
  color: #007aff !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #007aff !important;
}
