/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

/*====  VARIABLES ============================ */
:root {
    --header-height: 4.5rem; /* 72px / 16px = 4.5rem; */
    /* colors */
    --hue: 50;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 100% 50%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0, 21%, 6%);
    --header-color: hsl(0, 0%, 0%);
    --card-color: hsl(100 100% 100%);
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}

/*====  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased; /*Deixar a fonte mais leve e fina*/
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    background-color: var(--base-color);
    color: var(--text-color-light);

    height: 3.5rem;
    display: inline-flex; /* flex pemite fazer o align-items:center */
    align-items: center;

    padding: 0 2rem;
    border-radius: 1rem;
    border: 0;

    font: 500 1rem var(--body-font);
    transition: 0.3s;

    cursor: pointer;
}

.button:hover {
    background: var(--base-color-alt);
}

.divider-1 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 36%, 57%, 1),
        hsla(var(--hue), 65%, 88%, 0.34)
    );
}

.divider-2 {
    height: 1px;
    background: linear-gradient(
        270deg,
        hsla(var(--hue), 65%, 88%, 0.34),
        hsla(var(--hue), 36%, 57%, 1)
    );
}

/*====  LAYOUT ============================ */
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container .grid {
    margin: 0 auto;
}

.section {
    padding: 0.5rem;
    margin: 0 auto;
}

/*====  HEADER ============================ */
#header {
    margin: 0 auto;
    padding: 1rem;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--header-color);
    width: 100%;

    display: flex;
}

#header nav {
    width: 100%;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

/*====  LOGO ============================ */
.logo {
    width: 100%;
    height: auto;
}

@media (min-width: 600px) {
    .logo {
        width: 20rem;
    }

    #main .image img,
    h2,
    p {
        max-width: 22rem;
    }
    #main button {
        margin-right: 22rem;
    }

    #containerhome {
        display: flex;
        width: 20rem;

        margin-top: 8rem;
    }

    #containerhome > div.image img {
        max-width: 20rem;
        position: absolute;
        margin-bottom: -30rem;
        margin-left: 1rem;
    }

    #containerhome > div.text {
        max-width: 20rem;
        margin-top: 17rem;
        margin-right: 5rem;
    }

    .button {
        width: 9.4rem;
        padding: 2rem;
        text-align: center;

        margin-left: 5rem;
    }
    #about {
        width: 50rem;
        height: 30rem;
    }
    #quem {
        width: 22rem;
    }
    #h3 {
        width: 20rem;
        margin-top: 3rem;
    }
    #p {
        margin-left: 25rem;
        margin-top: -22rem;

        padding-bottom: 40rem;
    }
    #cases {
        width: 35rem;

        flex-direction: row;
        flex-wrap: wrap;

        margin-top: 10rem;
        padding-left: 10rem;
    }

    #case {
        width: 20rem;
        margin-top: 15rem;
    }

    #case > div.image img {
        width: 10rem;
        position: relative;
        margin-bottom: -50rem;
        margin-left: 54rem;

        padding-bottom: 40rem;
        padding-top: -30rem;
    }

    #case > div.text {
        margin-left: 48rem;
        margin-bottom: -26rem;

        font-size: 1rem;
    }

    #h {
        position: absolute;
        margin-top: -32rem;
        margin-left: 8rem;

        font-size: 2rem;
    }

    #pcase {
        position: absolute;
        margin-top: -5rem;
        padding-bottom: 6rem;
    }

    #pcasedois {
        position: absolute;
        margin-top: -5rem;
        padding-bottom: -2rem;
    }
}
/*====  NAV ============================ */

#nav {
    height: 2rem;
    margin-right: 20rem;
    justify-content: flex-start;
}

#navigation {
    margin-top: 7rem;

    height: 2rem;
}

#ul {
    display: flex;
}

#ul a {
    align-items: center;
    justify-content: space-between;
    margin: 0.2rem;
    padding: 0.5rem;

    color: var(--text-color-light);
    background-color: var(--base-color-alt);
    transition: 0.8s;
}

#ul a:hover {
    background-color: var(--base-color-second);
    color: var(--text-color);
}

/*====  HOME ============================ */

#main {
    max-width: 80rem;
    margin: 0 auto;
}

#main .image img {
    position: relative;
    margin: 4rem 0;

    width: 100%;
}

#main .image img,
#main .image::before {
    border-radius: 0.25rem; /* 4px / 16px = 0.25rem */
}

#main .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#main .text h2 {
    margin-bottom: 1rem;
    color: var(--title-color);
}

#main .text p {
    margin-bottom: 2rem;
}

/*======== ABOUT ============================ */

.article {
    background-color: var(--card-color);
    padding: 1rem;
    margin: 3rem;

    border-radius: 0.5rem;
}

.article .text h3 {
    color: var(--title-color);
    margin-top: 2rem;
}

/*====  SERVICES ============================ */
.cards .grid {
    gap: 1rem;
}

.card {
    padding: 3.625rem 4rem;
    text-align: center;
}

.card img {
    max-width: 70%;
}

.card .text {
    font-size: 1.5rem;
}

/*====  FOOTER ============================ */
footer {
    max-width: 31.9rem;
    height: 8vh;

    background: url(/img/fundo-footer.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

footer img {
    width: 100%;
    height: auto;
}

footer .section {
    padding: 4rem 0;
}

footer p {
    color: var(--text-color-light);

    text-align: center;

    padding: 1.5rem;
}

/*====  BACK-TO-TOP ============================ */
.back-to-top {
    background: var(--base-color-alt);
    color: var(--text-color-light);

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 1rem;
    clip-path: circle();

    font-size: 1.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/*====  RESPONSIVE ============================ */
/* extra large devices: 1200 > */
