/* Resetando o CSS */
* {
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(37, 30, 30);
}

/* HEADER */
.container-header {
    width: 100%;

    padding: 3rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    background-color: black;
}

/* NAV DENTRO DO HEADER */
.nav-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin: 1rem;
}

/* NAV FORA DO HEADER */
.container-nav {
    margin: 1.6rem 0;
    margin-left: -1rem;
}

.container-nav a {
    padding: 1rem;
    margin: 0.2rem;

    background-color: rgb(251, 217, 19);
    color: white;

    font-weight: bold;
}

/* SECTION CARD */
.container-section {
    width: 100%;

    margin: 2rem 0;
    margin-top: 1rem;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-item {
    text-align: center;

    width: 20rem;
    height: auto;

    padding: 1rem 0;
    /* margin: 0 auto; */
}

.card-item h2 {
    color: yellow;

    margin: 0.5rem;
    margin-top: 0.5rem;

    font-size: 1.2rem;
}

.card-item p {
    color: gray;
    margin-top: 1rem;
}

.card-item button {
    margin: 1rem;
    padding: 1rem;

    border: none;

    border-radius: 0.4rem;
    cursor: pointer;

    background-color: #ffbb00;

    transition: all 0.2s linear;
}

.card-item button:hover {
    filter: brightness(1.5);
    letter-spacing: 0.1rem;
}

/* ARTICLE - ASIDE */
.container-article-aside {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

/* ARTICLE */
article {
    background-color: white;
    border-radius: 0.8rem;

    width: 40rem;
    height: auto;

    padding: 2rem;

    margin: 1rem;
}

article h2 {
    color: #ffbb00;

    padding: 2rem 0 0 1rem;
}

article img {
    margin: 1rem;
}

.card-item-article {
    display: flex;
    align-items: center;

    padding: 1rem 0 5rem 0;
}

/* ASIDE */
aside {
    display: flex;
    flex-direction: column;

    padding: 4rem 0;
}

.card-item-aside {
    display: flex;
    align-items: center;

    margin: 1rem;
}

.card-item-aside p {
    margin-left: 2rem;
    color: white;
}

/* FOOTER */
footer {
    background-image: url(/img/fundo-footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 10vh;
}

footer p {
    color: white;
    text-align: center;

    padding: 2rem;
}

/* MEDIA */
@media (min-width: 740px) {
    .container-header {
        justify-content: space-between;
    }
}
