body {
	background-color: royalblue;
}

#principal {
	background-color: skyblue;
}

header {
	font-family: sans-serif;
	font-size: x-large;
	background-color: deepskyblue;
}

nav {
	font-style: italic;
	font-size: small;
}