* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: red;
}

button {
    border: none;
    padding: 0.5rem;
    width: 7rem;
    height: auto;
    margin-top: 0.8rem;
    margin-left: 5rem;
    cursor: pointer;
    background: rgb(83, 131, 11);
    color: white;
}

.container {
    margin: 0 2rem;
    /* width: 100vw; */
    /* min-height: 100vh; */
    background: white;
}

.container-header {
    background: white;
    margin: 0 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    margin: 2rem;
}

.menu li a {
    padding: 1rem;
    margin: 1rem;

    background: red;
    color: white;

    font-weight: 700;
}

.banner img {
    width: 100%;
}

/* .banner {
    margin: 0 2rem;
} */

.container-title-img {
    display: flex;
    margin: 1rem 2rem;
}

.title {
    width: 50%;
}

.title-h1 {
    margin: 0 4rem;
}

.title-h1 h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: red;
}

.title-h1 a {
    text-decoration-color: red;
}

.container-section {
    display: flex;
    margin: 0 5rem;
}

.card-item {
    display: flex;
    text-align: center;
    align-items: center;

    margin: 0.5rem;
    padding: 0.5rem;
}

.card-item img {
    margin: 1rem;
}

.card-item:nth-child(1) {
    background: rgb(154, 226, 255);
}

.card-item:nth-child(2) {
    background: rgb(255, 248, 154);
}

.card-item:nth-child(3) {
    background: rgb(255, 154, 154);
    text-align: left;
}

.section-title h3 {
    margin-bottom: 0.5rem;
}

.container-footer {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    margin: 2rem;
}

.container-footer p {
    margin: 0 auto;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
