/* You can add global styles to this file, and also import other style files */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@import "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css";

/*
 * Reset CSS + Formatation
 * https://github.com/lobinhodev
 *
 * @author lobinhodev
 *
 */

/* ==================== Fonts ==================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ==================== Reset CSS ==================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

a {
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

li {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

section {
  padding: 3rem 9%;
}

footer {
  padding: 3rem 9%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-offset: 0.25rem;
}

@media (prefers-reduced-motion: reduce), (update: slow) {
  *,
  ::before,
  ::after {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

img,
iframe,
object,
embed,
video {
  max-width: 100%;
}

img[width],
iframe[width],
object[width],
embed[width],
video[width] {
  width: auto;
  /* Defer to max-width */
}

img[width][height],
iframe[width][height],
object[width][height],
embed[width][height],
video[width][height] {
  height: auto;
  /* Preserve aspect ratio */
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  height: auto;
  max-width: none;
  width: 100%;
}

label {
  cursor: pointer;
}

sup,
sub {
  font-size: 50%;
}

:focus:not(:focus-visible) {
  box-shadow: none;
  outline: 0;
}

:root {
  /* ==================== Fonts ==================== */

  /* ==================== Colors ==================== */
  --hue: 186;

  /* ========== HSL color mode ========== */
  --body-color: hsl(186, 60%, 95%);
  --bg-color: hsl(0 0% 98%);
  --button-color: hsl(186, 100%, 68%);
  --button-dark-color: hsl(186, 48%, 50%);
  --toggle-color: hsl(186, 200%, 70%);
  --growth-color: hsl(186, 73%, 47%);
  --wrapper-color: hsl(186, 50%, 13%);
  --card-color: hsl(186 0% 100%);

  /* ==================== Background ==================== */
  --background-color-green: #8dc0dd;
  --background-color-yellow: #c2000080;
  --background-color-purple: #52049b;

  /* ==================== Text ==================== */
  --text-color: hsla(186, 0%, 0%, 0.5);
  --text-span-color: hsl(186, 90%, 90%);
  --text-color-light: hsl(var(--hue) 0% 100%);
  --text-shadow: hsla(186, 0%, 0%, 0.4);
  --text-color-green: #04d361;

  /* ==================== Transition ==================== */
  --transition-general: all 0.2s linear;
  --transition-items: all 0.4s linear;

  /* ==================== Webkit ==================== */
  --webkit-scrollbar-thumb-color: hsl(186 0% 98%);
  --webkit-scrollbar-track-color: hsl(186 0% 5%);

  /* ==================== General ==================== */
  --padding: 5rem;
  --margin: 0 auto;
  --width: 100%;
  --border-radius: 15px;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --font-primary: "Baloo Da 2", serif;
  --font-secundary: "Josefin Slab", serif;
  --font-action: "Muli", serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --biggest-font-size: 2rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-smaller: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 900;

  /*========== Margens ==========*/
  --m-0-25: 0.25rem;
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  --mt-0-25: 0.25rem;
  --mt-0-5: 0.5rem;
  --mt-0-75: 0.75rem;
  --mt-1: 1rem;
  --mt-1-5: 1.5rem;
  --mt-2: 2rem;
  --mt-2-5: 2.5rem;

  /*========== Padding ==========*/
  --p-0-25: 0.25rem;
  --p-0-5: 0.5rem;
  --p-0-75: 0.75rem;
  --p-1: 1rem;
  --p-1-5: 1.5rem;
  --p-2: 2rem;
  --p-2-5: 2.5rem;

  --pb-0-25: 0.25rem;
  --pb-0-5: 0.5rem;
  --pb-0-75: 0.75rem;
  --pb-1: 1rem;
  --pb-1-5: 1.5rem;
  --pb-2: 2rem;
  --pb-2-5: 2.5rem;

  --pt-0-25: 0.25rem;
  --pt-0-5: 0.5rem;
  --pt-0-75: 0.75rem;
  --pt-1: 1rem;
  --pt-1-5: 1.5rem;
  --pt-2: 2rem;
  --pt-2-5: 2.5rem;

  /* ========== Transition ========== */
  --transition-general: all 0.2s linear;
  --transition-items: all 0.4s linear;

  /* ========== z index ========== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* ==================== Generics styles ==================== */

/* ==================== Overflow ==================== */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #def2ff;
}

::-webkit-scrollbar-thumb {
  background: #8dc0dd;
  border-radius: 5rem;
}

html {
  caret-color: var(--button-dark-color);
}

:focus-visible {
  outline-color: var(--button-dark-color);
}

::selection {
  background-color: var(--button-dark-color);
  color: var(--text-color-light);
}

::marker {
  color: var(--button-dark-color);
}

::-webkit-calendar-picker-indicator {
  color: var(--button-dark-color);
}

::-webkit-clear-button {
  color: var(--button-dark-color);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  color: var(--button-dark-color);
}

/* ==================== Animations ==================== */

@keyframes pulseHeart {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
