* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin: 0 auto;
    align-items: center;
}

.card-body {
    background-color: rgb(124, 124, 236);
}

.card-title {
    color: rgb(255, 124, 124);
}
